@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
}
.header .navbar {
  background: rgb(90, 132, 154) !important;
  border-bottom: solid 4px rgb(183, 213, 229) !important;
  width: 100vw;
}
.header .navbar a {
  color: rgb(9, 43, 62);
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}

.section_01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.section_01 .section_01_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_01 .section_01_container .text_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  max-width: 992px;
  color: rgb(183, 213, 229);
  font-family: "Oswald", sans-serif;
}
.section_01 .section_01_container .text_title_container p {
  font-size: calc(0.8em + 1vw);
  font-weight: 100;
}
.section_01 .section_01_container .img_profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(40, 48, 108), rgb(9, 43, 62));
  border-radius: 15px;
  max-width: 770px;
  color: rgb(90, 132, 154);
}
.section_01 .section_01_container .img_profile_container img {
  height: 300px;
  padding-top: 15px;
  border-bottom-right-radius: 50px;
}

.section_02 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.section_02 .icon_group_container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.section_02 .icon_group_container li i {
  font-size: 40px;
  padding: 10px;
  color: rgb(183, 213, 229);
  background-color: rgb(9, 43, 62);
  border-radius: 15px;
  border: solid 1px rgb(183, 213, 229);
  margin: 6px;
}
.section_02 .icon_group_container li i:hover {
  color: rgb(90, 132, 154);
  border: solid 1px rgb(90, 132, 154);
}

.section_03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.section_03 .section_herramientas_container_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_03 .section_herramientas_container_div .titulo_seccion_herramientas h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
.section_03 .section_herramientas_container_div .herramientas_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: 770px;
  flex-wrap: wrap;
}
.section_03 .section_herramientas_container_div .herramientas_ul li img {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 8px;
  margin: 8px;
}
.section_03 .titulo_section_herramientas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: rgb(183, 213, 229);
  background: linear-gradient 90deg, rgb(90, 132, 154), rgb(40, 48, 108), rgb(9, 43, 62);
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.proyectos_container {
  color: "Oswald", sans-serif;
  color: rgb(183, 213, 229);
}
.proyectos_container iframe {
  width: 35rem;
  height: 20rem;
}

.section_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(183, 213, 229);
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}
.section_5 .form_container {
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin-top: 4rem;
  width: 80vw;
}

body {
  background: linear-gradient(rgb(9, 43, 62) 70%, rgb(40, 48, 108));
  background-attachment: fixed;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 772px) {
  .section_01_container {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 340px;
  }
  .section_02 .icon_group_container {
    padding: 0 !important;
    margin-top: 250px;
  }
  .herramientas_ul {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 !important;
  }
}
.proyectos_container {
  color: rgb(90, 132, 154);
  color: rgb(9, 43, 62);
}
.proyectos_container iframe {
  width: 16rem !important;
  height: 8rem !important;
}

/*# sourceMappingURL=styles.css.map */
