.header{
    position: fixed;
    .navbar{
        background: $color-principal !important;
        border-bottom: solid 4px rgb(13, 80, 156)!important;
        width: 100vw;

        // a{
        //     color:$color-texto01;
        // }
    }
}
