.section_5{
    @include flexmode(flex, column, center, center);

    color: $color_0;

    font-size: 1.5em;
    font-weight: 400;
    font-family: $title-font;


    .form_container {
        align-items: center;
        justify-content: center;
        font-size: .8em;
        font-weight: 400;
        font-family: $title-font;
        margin-top: 4rem;
        width: 80vw;
        
    }
}