.section_02 {
    @include flexmode(flex, row, center, center);
    margin-bottom: 50px;
    
    .icon_group_container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 15px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        

        li {
            i {
                font-size: 40px;
                padding: 10px;
                color: $color_0;
                background-color: $color_3;
                border-radius: 15px;
                border: solid 1px $color_0;
                margin: 6px;

            }

            i:hover {

                color:$color_4;
                border: solid 1px $color_4;
            }
        }
    }
}