
$color_0:rgb(167, 209, 41);

$color_1:rgb(97, 111, 57); 

$color_2:rgb(62, 67, 46);

$color_3:rgb(0, 0, 0);           

$title-font:'Oswald', sans-serif;




@mixin text-ligter ($size, $font, $weight){
    font-size: $size;
    font-family:$font;
    font-weight: $weight;
};

@mixin flexmode ($dis, $direcion, $just, $align){
    display: $dis;
    flex-direction: $direcion;
    justify-content: $just;
    align-items: $align;
};


